<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Page Title</title>
  <link rel="stylesheet" href="..\static\css\style.css">
  <link rel="stylesheet" href="https://unpkg.com/flexboxgrid2@7.2.1/flexboxgrid2.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
</head>
<body style="margin: 0px;">
  <div class="up-arrow">
    <img src="..\static\image\btn-up.png">
  </div>
  <nav class="menu-bar">
    <div class="nav-container">
      <div class="uber-eats">
        <img src="..\static\image\image.png">
      </div>
      <div class="login-basket">
        <img src="..\static\image\sign-in.png" style="padding-right: 20px">
        <img src="..\static\image\basket.png">
      </div>
    </div>
  </nav>
  <div class="upper-container">
    <div class="upper-box">
      <div class="col-lg-5 col-md-7 col-sm-12" style="padding: 0px;">
        <div class="card-traktir">
          <p id="traktir">Трактир «Пушкин»</p>
          <div class="info-traktir">
            <p id="type-traktir">₽₽₽ • Европейская</p>
            <p id="time-traktir">40 - 50 мин</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="navigation">
    <nav>
      <a style="margin-right: 40px; color: #327430;">Закуски</a>
      <a style="margin-right: 40px">Салаты</a>
      <a style="margin-right: 40px">Супы</a>
      <a style="margin-right: 40px">Горячие Блюда</a>
      <a style="margin-right: 40px">Гарниры</a>
      <a>Десерты</a>
    </nav>
  </div>
  <div class="main-container">
    <h4>Закуски</h4>
    <div class="menu-dishes">
      <div class="row" style="padding-left: 4px;">
        <div class="col-lg-6 col-md-12 col-xs-12" style="margin-bottom: 42px; padding: 0px;">
          <div class="dish-card">
            <div class="dish">
              <div style="margin-left: 16px;">
                <p class="name-dish">Сельдь на бородинском хлебе</p>
                <p class="ingr-dish">С яйцом и огурцом</p>
                <div class="price" style="margin-top: 58px;"><p>240 ₽</p></div>
              </div>
              <div class="img-dish">
                <img src="..\static\image\photo1.png">
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-12 col-xs-12" style="margin-bottom: 42px; padding: 0px;">
          <div class="dish-card">
            <div class="dish">
              <div style="margin-left: 16px;">
                <p class="name-dish">Соленья ассорти</p>
                <div class="price"><p>320 ₽</p></div>
              </div>
              <div class="img-dish">
                <img src="..\static\image\photo2.png">
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-12 col-xs-12" style="margin-bottom: 42px; padding: 0px;">
          <div class="dish-card">
            <div class="dish">
              <div style="margin-left: 16px;">
                <p class="name-dish">Грибы маринованные</p>
                <div class="price"><p>300 ₽</p></div>
              </div>
              <div class="img-dish">
                <img src="..\static\image\photo3.png">
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-12 col-xs-12" style="margin-bottom: 42px; padding: 0px;">
          <div class="dish-card">
            <div class="dish">
              <div style="margin-left: 16px;">
                <p class="name-dish">Сало домашнее с горчицей</p>
                <div class="price"><p>320 ₽</p></div>
              </div>
              <div class="img-dish">
                <img src="..\static\image\photo4.png">
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-12 col-xs-12" style="margin-bottom: 0px; padding: 0px;">
          <div class="dish-card">
            <div class="dish">
              <div style="margin-left: 16px;">
                <p class="name-dish">Малосольная семга</p>
                <div class="price"><p>390 ₽</p></div>
              </div>
              <div class="img-dish">
                <img src="..\static\image\photo5.png">
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-12 col-xs-12" style="margin-bottom: 0px; padding: 0px;">
          <div class="dish-card">
            <div class="dish">
              <div style="margin-left: 16px;">
                <p class="name-dish">Язык говяжий с хреном</p>
                <div class="price"><p>350 ₽</p></div>
              </div>
              <div class="img-dish">
                <img src="..\static\image\photo6.png">
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
  </div>
  <div class="footer-container">
    <div class="footer">
      <div class="col-lg-4 col-md-6 col-xs-12">
        <img id="white-logo" src="..\static\image\white-logo.png">
      </div>
      <hr>
      <div class="row">
        <div class="column">
          <div class="col-lg-4 col-md-6 col-xs-12">
            <img id="language" src="..\static\image\language.png">
            <img id="social" src="..\static\image\social.png">
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-xs-12" id="column-2">
            <p style="margin-top: 39px; margin-bottom: 23px">Об UberEats</p>
            <p style="margin-bottom: 23px">Станьте партнёром по доставке</p>
            <p style="margin-bottom: 23px">Станьте партнёром-рестораном</p>
        </div>
        <div class="col-lg-4 col-md-6 col-xs-12" id="column-3">
            <p style="margin-top: 39px; margin-bottom: 23px">Все города</p>
            <p style="margin-bottom: 23px">Цены</p>
            <p style="margin-bottom: 23px">Помощь</p>
          <p style="margin-bottom: 23px">FAQs</p>
        </div>
      </div>
      <hr>
      <div class="app-download">
        <img id="apple" src="..\static\image\Download_on_the_App_Store_Badge_US-UK_RGB_blk_092917.png">
        <img id="google" src="..\static\image\en_badge_web_generic-cf6dad406f.png">
      </div>
      <hr>
      <div class="documentation">
        <div class="row">
          <div class="col-lg-4 col-md-6 col-xs-12">
            <p>© 2017 Uber Technologies Inc.</p>
          </div>
          <div class="col-lg-4 col-md-6 col-xs-12">
            <p>Обработка персональных данных</p>
          </div>
          <div class="col-lg-4 col-md-6 col-xs-12">
            <p>Пользовательское соглашение</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>