<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Page Title</title>
  <link rel="stylesheet" href="..\static\css\index.css">
  <link rel="stylesheet" href="https://unpkg.com/flexboxgrid2@7.2.1/flexboxgrid2.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
</head>
<body style="margin: 0px;">
  <div class="up-arrow">
    <img src="..\static\image\btn-up.png">
  </div>
  <nav class="menu-bar">
    <div class="nav-container">
      <div class="uber-eats">
        <img src="..\static\image\image.png">
      </div>
      <div class="login-basket">
        <img src="..\static\image\sign-in.png" style="padding-right: 20px">
        <img src="..\static\image\basket.png">
      </div>
    </div>
  </nav>
  <div class="main-container">
    <div class="line">
      <p>Поиск по ресторанам и кухням</p>
      <hr>
    </div>
    <h4 style="">Рестораны в Москве</h4>
    <div class="dishes-container" style="margin-bottom: 150px;">
      <div class="row">
        <div class="col-lg-4 col-md-6 col-xs-12" style="margin-bottom: 126px;">
          <img src="..\static\image\image1.png">
          <h6 class="name-rest">Макдоналдс — Газетный</h6>
          <p class="type-rest">₽₽ • Бургеры</p>
          <p class="time-rest">25 - 35 мин</p>
        </div>
        <div class="col-lg-4 col-md-6 col-xs-12" style="margin-bottom: 126px;">
          <img src="..\static\image\image2.png">
          <h6 class="name-rest">DimSum & Co — ЦДМ</h6>
          <p class="type-rest">₽ • Японская • Китайская • Азиатская</p>
          <p class="time-rest">40 - 50 мин</p>
        </div>
        <div class="col-lg-4 col-md-6 col-xs-12" style="margin-bottom: 126px;">
          <img src="..\static\image\image3.png">
          <h6 class="name-rest">ДвижОК — Манежная</h6>
          <p class="type-rest">₽ • Американская • Европейская</p>
          <p class="time-rest">35 - 45 мин</p>
        </div>
        <div class="col-lg-4 col-md-6 col-xs-12" style="margin-bottom: 126px;">
          <img src="..\static\image\image4.png">
          <h6 class="name-rest">НЯ — NHA</h6>
          <p class="type-rest">₽₽ • Вьетнамская</p>
          <p class="time-rest">30 - 40 мин</p>
        </div>
        <div class="col-lg-4 col-md-6 col-xs-12" style="margin-bottom: 126px;">
          <img src="..\static\image\image5.png">
          <h6 class="name-rest">Точка Дзы — Цветной</h6>
          <p class="type-rest">₽₽ • Вьетнамская</p>
          <p class="time-rest">40 - 50 мин</p>
        </div>
        <div class="col-lg-4 col-md-6 col-xs-12" style="margin-bottom: 126px;">
          <img src="..\static\image\image6.png">
          <h6 class="name-rest">Cinnabon</h6>
          <p class="type-rest">₽ • Выпечка • Десерты • Капкейки</p>
          <p class="time-rest">25 - 35 мин</p>
        </div>
        <div class="col-lg-4 col-md-6 col-xs-12" style="margin-bottom: 126px;">
          <img src="..\static\image\image7.png">
          <h6 class="name-rest">PIZZELOVE</h6>
          <p class="type-rest">₽₽ • Пицца</p>
          <p class="time-rest">15 - 25 мин</p>
        </div>
        <div class="col-lg-4 col-md-6 col-xs-12" style="margin-bottom: 126px;">
          <img src="..\static\image\image8.png">
          <h6 class="name-rest">Zю кафе — Тверская</h6>
          <p class="type-rest">₽₽ • Японская</p>
          <p class="time-rest">25 - 35 мин</p>
        </div>
        <div class="col-lg-4 col-md-6 col-xs-12" style="margin-bottom: 126px;">
          <img src="..\static\image\image9.png">
          <h6 class="name-rest">Bar BQ Cafe — Манежная</h6>
          <p class="type-rest">₽₽₽ • Европейская</p>
          <p class="time-rest">30 - 40 мин</p>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-container">
    <div class="footer">
      <div class="col-lg-4 col-md-6 col-xs-12">
        <img id="white-logo" src="..\static\image\white-logo.png">
      </div>
      <hr>
      <div class="row">
        <div class="column">
          <div class="col-lg-4 col-md-6 col-xs-12">
            <img id="language" src="..\static\image\language.png">
            <img id="social" src="..\static\image\social.png">
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-xs-12" id="column-2">
            <p style="margin-top: 39px; margin-bottom: 23px">Об UberEats</p>
            <p style="margin-bottom: 23px">Станьте партнёром по доставке</p>
            <p style="margin-bottom: 23px">Станьте партнёром-рестораном</p>
        </div>
        <div class="col-lg-4 col-md-6 col-xs-12" id="column-3">
            <p style="margin-top: 39px; margin-bottom: 23px">Все города</p>
            <p style="margin-bottom: 23px">Цены</p>
            <p style="margin-bottom: 23px">Помощь</p>
          <p style="margin-bottom: 23px">FAQs</p>
        </div>
      </div>
      <hr>
      <div class="app-download">
        <img id="apple" src="..\static\image\Download_on_the_App_Store_Badge_US-UK_RGB_blk_092917.png">
        <img id="google" src="..\static\image\en_badge_web_generic-cf6dad406f.png">
      </div>
      <hr>
      <div class="documentation">
        <div class="row">
          <div class="col-lg-4 col-md-6 col-xs-12">
            <p>© 2017 Uber Technologies Inc.</p>
          </div>
          <div class="col-lg-4 col-md-6 col-xs-12">
            <p>Обработка персональных данных</p>
          </div>
          <div class="col-lg-4 col-md-6 col-xs-12">
            <p>Пользовательское соглашение</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>